<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="howard.cinema.core.dao.mapper.acl.RoleResourceMapper">

    <resultMap id="ResultMap" type="howard.cinema.core.dao.entity.acl.RoleResource">
        <id column="id" property="id"/>
        <result column="insert_time" property="insertTime"/>
        <result column="role_id" property="roleId"/>
        <result column="resource_type" property="resourceType"/>
    </resultMap>

    <sql id="Insert_Column">
        id,insert_time,role_id,resource_type
    </sql>

    <select id="listByRoleId" resultMap="ResultMap" parameterType="String">
        select
        <include refid="Insert_Column"/>
        from cinema_role_resource
        where role_id = #{roleId}
    </select>

    <insert id="persistAll" parameterType="list">
        insert into cinema_role_resource (
        <include refid="Insert_Column"/>
        ) values
        <foreach collection="list" item="resource" separator=",">
            (#{resource.id},#{resource.insertTime},#{resource.roleId},#{resource.userId})
        </foreach>
    </insert>

    <delete id="deleteByRoleId" parameterType="String">
        delete from cinema_role_resource where role_id = #{roleId}
    </delete>
</mapper>